extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Priscilla Pang

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I just started learning Full-stacked Javascript at Treehouse in 2019.
            | Prior to this, I was studying Front-end Web Development, which was fun and full of creativity spaces.
            | Now it time to take both skills combined and create something amazing - enjoy!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Javascript
          li HTML
          li Pug
          li CCS
          li Chinese Cantonese
          li Chinese Mandarin
          li Chinese Hakka
        h6 Contact Info

        ul
          li +44 (0) 777 6118 238
          li ppdevelopmentinc@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/priscilla-pang-726824103/') LinkedIn
        a.button.expanded(href='https://github.com/ppdevelopmentinc') GitHub
        a.button.expanded(href='https://twitter.com/ppdevinc?lang=en-gb') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
